.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dropdown {
  width: 300px;
  margin: 100px auto;
  position: relative;
  align-items: left;
  justify-content: left;
}

.input {
  height: 20px;
  width: 200px;
  font-size: medium;
}

.content {
  padding: 1px 1px;
  position: absolute;
  background: #fff;
  background-color: #fff;
  margin-left: 47px;
  text-align: left;
  width: 68%;
}

.item {
  background: #fff;
  color: #333;
  font-size: medium;
}